@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: .7s fadeIn 1 ease-in;
    animation: .7s fadeIn 1 ease-in;
}