$bg-color: #ecebe6;
$primary-color: #434343;
$secondary-color: #636568;
$tertiary-color: #565757;
$border-color: #a7a7a7;
$link-color: $primary-color;
$link-color-highlight: #000;

@mixin hyphens-auto {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
