$bg-color: #fff;
$primary-color: #434343;
$secondary-color: #636568;
$tertiary-color: #aaa;
$border-color: #434343;
$link-color: #2772d5;

@mixin hyphens-auto {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
