#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: inline;
  line-height: 44px;
  margin-right: 1em;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}

#nav-toggle {
  position: relative;
  display: block;
  text-align: center;
  line-height: 44px;
  border-bottom: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5em;
}

#nav-toggle:before {
  position: absolute;
  content: "";
  top: .75em;
  left: 50%;
  width: 1em;
  height: 0.125em;
  margin-left: -.5em;
  border-top: 0.375em double #838383;
  border-bottom: 0.125em solid #838383;
}

#nav-toggle:hover:before, #nav-toggle:focus:before {
  border-top: 0.375em double #434343;
  border-bottom: 0.125em solid #434343;
}

@media screen and (min-width: 40em) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 39em) {
  #nav li {
    display: block;
    margin-right: 0;
    line-height: 44px;
    border-bottom: #a7a7a7 1px dashed;
    a {
      display: block;
      text-align: center;
      border-bottom: none; 
    }
  }
}