div[role=search] {

	height: 90px;

	input[type=search] {
		display: block;
		float: none;
		height: 35px;
		width: 200px;
		margin: 0 auto 10px auto;
		border: 1px solid #434343;
		margin-bottom: 10px;
	}

	button[type=submit] {
		display: block;
		float: none;
		width: 70px;
		height: 35px;
		margin: 0 auto;
		border: 1px solid #434343;
	}
}