@import "base";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 90%;
    margin: 1em auto;	
}

nav[role=navigation] {
    display: block;
    overflow: hidden;
}

nav[role=navigation] > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        margin-right: 1em;
    }
}

header[role=banner] {
    display: block;
}

article[role=main] {
  display: block;
}

pre {
  overflow: auto;
  text-shadow: none;
  word-wrap: normal;
  white-space: pre;
}

code {
  speak: literal-punctuation;
  word-wrap: normal;
}

footer[role=contentinfo] {
    display: block;
}
