---
layout: layout
title: Alex Gibson
titleinfo: Front-end Web Developer
desc: Alex Gibson is a front–end web developer living in Newcastle upon Tyne, United Kingdom.
canonical: '/'
---

<img class="profile fadeIn" src="{{root}}/images/profile.png" width="150" height="150" alt="Alex Gibson">

<section class="posts">
  {% if paginator.page == 1 %}
    <h2>Recent posts</h2>
  {% else %}
    <h2>Older posts</h2>
  {% endif %}

  {% for post in paginator.posts %}
    <article>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d %Y" }}</time>
      <h3><a rel="bookmark" href="{{ post.url }}">{{ post.title }}</a></h3>
    </article>
  {% endfor %}

  <nav class="pagination">
    <p class="page-number">Page: <em>{{ paginator.page }} of {{ paginator.total_pages }}</em></p>
    {% if paginator.previous_page == 1 %}
      <a href="{{ root }}/" class="previous">Newer</a>
    {% else %}
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
      {% else %}
        <span class="previous disabled">Newer</span>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% else %}
      <span class="next disabled">Older</span>
    {% endif %}
  </nav>

</section>
