/*
 * 
 * Tomb Raider Music Mixer
 * CSS styling by Alex Gibson 2013
 * http://alxgbsn.co.uk | @alex_gibson
 * 
 */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html { 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none; 
} 
        
body {
    font: 15px/20px Helvetica, Arial, Verdana, sans-serif;
}

button {
    -webkit-appearance: none;
    height: 44px;
    width: 119px; 
}

button:active {
    background: #999;
}

button:disabled {
    opacity: 0.5;
}

label {
    display: block;
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 300px;
    height: 44px;
    margin: 0 0 1.5em 0;
    border: 5px solid #333;
    background: #ccc;
    color: #ffffff;
}

input[type=range]:disabled {
    border: 5px solid #999;
}

input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none; 
    width: 44px;
    height: 44px;
    -webkit-border-radius: 22px;  
    -moz-border-radius: 22px;
    border-radius: 22px; 
    background: rgb(253,253,253);   
    background: -moz-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,253,253)), to(rgb(190,190,190)));
    background: -webkit-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -ms-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -o-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
}

#status {
    margin: 1.5em 0;
    color: #333;
}

.channel {
    display: block;
    margin: 1.5em 0;
}

.mixer {
    float: left;
}

#spectrum-output {
    border: 1px solid #333;
}

.output-controls {
    float: left;
    margin-left: 1.5em;
}

.button-controls {
    text-align: center;
}