/*
 * 
 * Tomb Raider Music Mixer
 * CSS styling by Alex Gibson 2013
 * http://alxgbsn.co.uk | @alex_gibson
 * 
 */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html { 
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none; 
} 
        
body {
    font: 15px/20px Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-weight: 400;
}

@font-face {
    font-family: MinionPro-Regular;
    src: url('../fonts/MinionPro-Regular.otf');
    font-weight: 200;
}

button {
    -webkit-appearance: none;
    border: 4px solid #000;
    background: #7F7F7F;
    height: 44px;
    width: 119px; 
    font-family: MinionPro-Regular, Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
}

button:active {
    border: 4px solid #721A14;
}

button:disabled {
    border: 4px solid #333;
    opacity: 0.5;
}

label {
    position: relative;
    display: block;
    margin: 0 0 1.5em 0;
    line-height: 44px;
    font-family: MinionPro-Regular, Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
}

input[type=range] {
    -webkit-appearance: none; 
    float: right;
    width: 270px;
    height: 44px;
    margin-left: 50px;
    border: 5px solid #000;
    background: #7F7F7F;
    color: #ffffff;
}

input[type=range]:disabled {
    border: 5px solid #333;
}

input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none; 
    width: 44px;
    height: 44px;
    -webkit-border-radius: 22px;  
    -moz-border-radius: 22px;
    border-radius: 22px; 
    background: rgb(253,253,253);   
    background: -moz-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,253,253)), to(rgb(190,190,190)));
    background: -webkit-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -ms-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: -o-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
    background: linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
}

.main {
    position: relative;
    width: 921px;
    height: 558px;
    background: #E4DBC9 url('../images/background.png') top left no-repeat;
    background-size: 100% 100%;
}

.main h1 {
    position: absolute;
    top: 40px;
    left: 50px;
    margin: 0;
    padding: 0;
    color: #721A14;
    font-family: SourceSansPro-Bold, Helvetica, Arial, Verdana, sans-serif; 
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
}

.container {
    position: relative;
    width: 821px;
    margin: 0 auto;
    padding-top: 170px;
    overflow: hidden;
}

#status {
    margin: 1.5em 0;
    color: #000;
    font-family: MinionPro-Regular, Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
}

.channel {
    display: block;
    margin: 1.5em 0;
}

.mixer {
    float: left;
}

#spectrum-output {
    background: transparent;
    border: 1px solid #333;
}

.output-controls {
    float: right;
}

.button-controls {
    text-align: center;
}