/*
 * 
 * Tomb Raider Music Mixer
 * CSS styling by Alex Gibson 2013
 * http://alxgbsn.co.uk | @alex_gibson
 * 
 */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html { 
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none; 
} 
        
body {
    font: 15px/20px Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-weight: 400;
}

@font-face {
    font-family: MinionPro-Regular;
    src: url('../fonts/MinionPro-Regular.otf');
    font-weight: 200;
}

button {
    -webkit-appearance: none;
    position: absolute;
    top: 458px;
    left: 500px;
    border: none;
    background: transparent;
    width: 98px;
    height: 140px; 
}

button.on {
    background: transparent url('../images/on-button.png') top left no-repeat;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 300px;
    height: 10px;
    background: rgba(0, 0, 0, 0.3);
}

input[type=range]:disabled {

}

input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none; 
    width: 57px;
    height: 57px;
    border: none;
    background-color: transparent;
    background-image: url('../images/slider.png');
    background-position: -15px 5px;
    background-repeat: no-repeat;
}

#brass {
    position: absolute;
    right: 131px;
    bottom: 279px;
}

#high-perc {
    position: absolute;
    right: 131px;
    bottom: 222px;
}

#low-perc {
    position: absolute;
    right: 131px;
    bottom: 166px;
}

#strings {
    position: absolute;
    right: 131px;
    bottom: 110px;
}

.main {
    position: relative;
    width: 1024px;
    height: 768px;
    background: #fff url('../images/background.png') top left no-repeat;
    background-size: 100% 100%;
}

.container {
    position: relative;
    width: 821px;
    margin: 0 auto;
    padding-top: 170px;
    overflow: hidden;
}

.channel {
    display: block;
    margin: 1.5em 0;
}

.mixer {
    float: left;
}

#spectrum-output {
    position: absolute;
    right: 152px;
    top: 200px;
    background: transparent;
}

.output-controls {
    float: right;
}

.button-controls {
    text-align: center;
}