<footer role="contentinfo">
  <form role="search" class="search" action="https://duckduckgo.com/" method="get" title="Search this site">
    <label for="q">Search</label>
    <input type="hidden" name="sites" value="alxgbsn.co.uk" />
    <input class="search" type="search" name="q" id="q" placeholder="Search this site" />
    <button type="submit">Go</button>
  </form>
  <ul>
    <li><a href="{{ root }}/feed/index.xml" title="RSS feed">Subscribe (RSS)</a></li>
    <li><a href="https://github.com/alexgibson/">View my GitHub profile</a></li>
  </ul>
</footer>
