<footer role="contentinfo">

    <form role="search" class="search" action="http://duckduckgo.com/" method="get" title="Search this site">
      <label for="q">Search</label>
      <input type="hidden" name="sites" value="alxgbsn.co.uk" />
      <input class="search" type="search" name="q" id="q" placeholder="Search this site&hellip;" />
      <button type="submit">Search</button>
    </form>

    <ul class="social">
        <li class="rss"><a href="{{ root }}/feed/" title="RSS feed">Subscribe</a></li>
        <li class="twitter"><a href="https://twitter.com/intent/user?screen_name=alex_gibson">Follow me on Twitter</a></li>
    </ul>

</footer>
