$color-background: #ecebe6;
$color-background-secondary: #fff;
$color-border: #a7a7a7;
$color-link-highlight: #000;
$color-link: #434343;
$color-body-link: #c30c0c;
$color-body-link-highlight: #990000;
$color-text-primary: #434343;
$color-text-secondary: #636568;
$color-text-tertiary: #565757;
$color-button-text: #434343;

:root {
    --color-background: #{$color-background};
    --color-background-secondary: #{$color-background-secondary};
    --color-border: #{$color-border};
    --color-link-highlight: #{$color-link-highlight};
    --color-link: #{$color-link};
    --color-body-link: #{$color-body-link};
    --color-body-link-highlight: #{$color-body-link-highlight};
    --color-text-primary: #{$color-text-primary};
    --color-text-secondary: #{$color-text-secondary};
    --color-text-tertiary: #{$color-text-tertiary};
    --color-button-text: #{$color-button-text};
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #222;
        --color-background-secondary: #000;
        --color-link-highlight: #fff;
        --color-link: #eee;
        --color-body-link: #5ac8fa;
        --color-body-link-highlight: #7ed6ff;
        --color-text-primary: #ddd;
        --color-text-secondary: #ccc;
        --color-text-tertiary: #bbb;
    }
}

@mixin hyphens-auto {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
