$color-background: #f4ecd8;
$color-background-secondary: #fff;
$color-border: #aaa;
$color-link: #d3551b;
$color-text-primary: #434343;
$color-text-secondary: #636568;
$color-text-tertiary: #565757;
$color-button-text: #434343;
$color-button-background: #dedede;
$color-selected: #d3551b;
$color-white: #fff;
$color-black: #000;

$color-background-theme-dark: #222;
$color-background-secondary-theme-dark: #000;
$color-border-theme-dark: #565757;
$color-link-theme-dark: #5ac8fa;
$color-text-primary-theme-dark: #ddd;
$color-text-secondary-theme-dark: #ccc;
$color-text-tertiary-theme-dark: #ccc;
$color-selected-theme-dark: #5ac8fa;


@mixin t-light {
    --color-background: #{$color-background};
    --color-background-secondary: #{$color-background-secondary};
    --color-border: #{$color-border};
    --color-link: #{$color-link};
    --color-text-primary: #{$color-text-primary};
    --color-text-secondary: #{$color-text-secondary};
    --color-text-tertiary: #{$color-text-tertiary};
    --color-button-text: #{$color-button-text};
    --color-button-background: #{$color-button-background};
    --color-selected: #{$color-selected};
    --color-white: #{$color-white};
    --color-black: #{$color-black};
}

@mixin t-dark {
    --color-background: #{$color-background-theme-dark};
    --color-background-secondary: #{$color-background-secondary-theme-dark};
    --color-border: #{$color-border-theme-dark};
    --color-link: #{$color-link-theme-dark};
    --color-text-primary: #{$color-text-primary-theme-dark};
    --color-text-secondary: #{$color-text-secondary-theme-dark};
    --color-text-tertiary: #{$color-text-tertiary-theme-dark};
    --color-selected: #{$color-selected-theme-dark};
}

@mixin hyphens-auto {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


@mixin image-replaced {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
}

.hidden {
    display: none;
}
