@import "base";

//* -------------------------------------------------------------------------- */
// Base themes

:root,
:root.t-light {
    @include t-light;
}

:root.t-dark {
    @include t-dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include t-dark;
    }
}

//* -------------------------------------------------------------------------- */
// Common elements

html {
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

body {
    font-family: system-ui, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 1.5em auto;
    max-width: 40em;
    scroll-behavior: smooth;
    width: 100%;
}

a:link, a:visited {
    color: var(--color-link);
    text-decoration: underline;
    transition: color .1s ease-in-out;
}

a:hover, a:active, a:focus {
    color: var(--color-link-highlight);
}

p {
    padding: 0 10px;
}

p, ul > li {
    line-height: 1.7;
}

ul > li {
    padding-right: 10px;
}

ul > li {
    p, h3, h4, h5, h6 {
        padding: 0;
    }
}

em {
    font-style: italic;
}

blockquote {
    border-left: 3px solid var(--color-text-tertiary);
    color: var(--color-text-secondary);
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    padding: 0 10px;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin: .75em 0;
}

h3 {
    font-size: 1.17em;
    margin: .83em 0;
}

h4 {
    font-size: 1em;
    margin: 1.12em 0;
}

h5 {
    font-size: .83em;
    margin: 1.5em 0;
}

h6 {
    font-size: .75em;
    margin: 1.67em 0;
}

time {
    display: block;
    font-style: italic;
    line-height: 1.3;
    padding: 0 10px;
    text-align: center;
}

code {
    background: var(--color-background-secondary);
    border-radius: 2px;
    border: 1px solid var(--color-border);
    font-size: 0.9em;
    padding: 1px 5px;
}

pre {
    background-color: $color-black;
    background-color: var(--color-black);
    border-radius: 3px;
    overflow: auto;
    padding: 1em;
    text-shadow: none;
    white-space: pre;
    word-wrap: normal;

    code {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: var(--color-white);
        padding: 0;
    }
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 20px 0;
    padding: 10px;

    figcaption {
        color: var(--color-text-secondary);
        font-size: .83em;
        font-style: italic;
        margin: 10px;
        text-align: center;
    }
}

@media all and (min-width: 30em) {
    .tagline {
        text-align: center;
        max-width: 20em;
        margin: 1em auto 2em;
    }
}

//* -------------------------------------------------------------------------- */
// Main mavigation

.masthead {
    display: grid;
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 2fr 1fr;
    margin: 10px 0 40px;
    padding: 0 10px;
    line-height: 1.5;

    nav[role="navigation"] ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            display: inline-block;
            margin: 0 .6em 0 0;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .theme-selector {
        text-align: right;
        padding-top: .3em;

        .theme-form {
            display: inline-block;
        }

        label {
            @include image-replaced;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: .2em;
            border-radius: 100%;
            border: 2px solid var(--color-background);
            transition: border-color .1s ease-in-out;

            &:last-child {
                margin-right: 0;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked + label {
                border-color: var(--color-selected);
            }
        }

        label[for="t-light"] {
            background-color: $color-background-secondary;
        }

        label[for="t-dark"] {
            background-color: $color-background-secondary-theme-dark;
        }
    }

    @media all and (min-width: 30em) {
        margin-bottom: 60px;
    }
}

//* -------------------------------------------------------------------------- */
// Page header

header[role="banner"] {
    margin-bottom: 40px;
    padding: 0 10px;

    h1 {
        margin: .67em 0 0;
    }

    h2 {
        color: var(--color-text-secondary);
        font-style: italic;
        font-weight: 200;
        margin: 0 0 .75em;
        text-align: center;
    }
}

.profile {
    border-radius: 100%;
    border: 6px solid var(--color-white);
    display: block;
    height: 90px;
    margin: 0 auto;
    width: 90px;
}

//* -------------------------------------------------------------------------- */
// Blog index

section.posts {
    time {
        margin: 1em 0 0;
        text-align: left;
    }

    h3 {
        color: var(--color-text-secondary);
        margin: 1.5em 0;
        text-align: center;
    }

    h4 {
        margin-top: .2em;
    }

    @media all and (min-width: 30em) {
        time {
            float: right;
            margin: 0 0 .5em 2em;
        }

        h4 {
            margin: 1.12em 0;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Pagination

.page-number {
    text-align: center;
}

.pagination {
    margin: 0 0 1.5em 0;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;

    .newer {
        float: left;

        &:before {
            content: '« '; /* laquo nbsp */
            white-space: nowrap;
        }
    }

    .older {
        float: right;

        &:after {
            content: ' »'; /* nbsp raquo */
            white-space: nowrap;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Article styles

section.post time:after {
    content: ', ';
}

.meta {
    color: var(--color-text-secondary);
    font-style: italic;
    text-align: center;
    margin: 0;

    time {
        display: inline;
        padding: 0;
    }
}

.reading-time {
    color: var(--color-text-secondary);
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

//* -------------------------------------------------------------------------- */
// Main footer

footer[role="contentinfo"] {
    margin: 40px 0;
    padding: 0 10px;

    ul {
        list-style-type: none;
        margin: 1em 0 0;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
        text-align: center;
    }
}

//* -------------------------------------------------------------------------- */
// Site search form

form.search {
    margin: 1.5em auto 0 auto;
}

form[role="search"] {
    height: 38px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 5px;
    position: relative;
    text-align: center;
    width: 250px;

    input[type="search"] {
        -moz-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border: 1px solid var(--color-border);
        box-sizing: border-box;
        float: left;
        height: 38px;
        line-height: 38px;
        padding-left: .5em;
        width: 200px;
    }

    button[type="submit"] {
        -moz-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        background: linear-gradient(to bottom, var(--color-white) 0%, var(--color-button-background) 100%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom: 1px solid var(--color-border);
        border-left: none;
        border-right: 1px solid var(--color-border);
        border-top-left-radius: 0;
        border-top-right-radius: 5px;
        border-top: 1px solid var(--color-border);
        box-sizing: border-box;
        color: var(--color-button-text);
        float: left;
        font-family: system-ui, sans-serif;
        font-weight: normal;
        height: 38px;
        padding: 0;
        transition: color .1s ease-in-out;
        width: 50px;
    }

    button[type="submit"]:hover,
    button[type="submit"]:focus {
        color: var(--color-black);
        cursor: pointer;
    }

    label {
        height: 1px;
        left: -9999px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
    }
}
