<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ page.titleinfo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.desc }}" />
    <meta name="author" content="Alex Gibson" />
    <meta name="apple-mobile-web-app-title" content="Alex Gibson">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="Alex Gibson" href="{{ root }}/feed/" />
    <link rel="canonical" href="http://alxgbsn.co.uk{{ page.url }}" />
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/iOS-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/iOS-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/iOS-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/iOS-57.png">
    <link rel="shortcut icon" href="images/iOS-57.png">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33263279-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>
<body>

<header role="banner">
    {% include nav.html %}
    <h1>{{ page.title }}</h1>
</header>
    
{{ content }}

{% include search.html %}

{% include footer.html %}

</body>
</html>
