<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Alex Gibson is a front–end web developer from Newcastle upon Tyne, United Kingdom." />
  <meta name="author" content="Alex Gibson" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="alternate" type="application/rss+xml" title="Alex Gibson" href="http://alxgbsn.co.uk/feed/" />
  <title>{{ page.title }}</title>
</head>
<body>
  	{% include nav.ext %}
    <header role="banner">
        <h1>{{ page.title }}</h1>
    </header>
    {{ content }}
    {% include footer.ext %}
</body>
</html>
