---
layout: layout
---

<article role="main">
	<time datetime="{{ page.date | date: "%Y-%m-%d" }}">Published {{ page.date | date: "%b %d %Y" }}</time>
	{{ content }}
</article>

<aside role="complimentary" itemscope itemtype="http://schema.org/Product">
	<h2>Leave a tip!</h2>
	<p>
		Was this post helpful? If so, then please consider leaving a tip. Instead of using a micro payment system, I thought I'd release <span itemprop="description">a fun little memory game for the iPhone</span>. It's called <a itemprop="name" href="">Picto Pairs</a> and only costs <span <span itemprop="price">59p</span> on the App Store.
	</p>
	<p>
		<a itemprop="url" class="image-link" href="">
			<img src="{{ root }}/images/appstore.png" height="40" width="135" alt="Download on the App Store" />
		</a>
	</p>
	<p>
		To say thanks, why not buy a copy? Hopefully you'll get a little fun out of it too, so we both win :) Your donations encourage me to carry on writing this blog and publish open source code. Thanks!
	</p>
</aside>
